@import url(bootstrap.min.css);
@import url(bootstrap-responsive.min.css);
@import url(font-awesome.min.css);
@font-face {
	font-family: 'rsu';
	src: url('../fonts/rsu_bold.eot');
	src: url('../fonts/rsu_bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/rsu_bold.woff') format('woff'),
		 url('../fonts/rsu_bold.ttf') format('truetype'),
		 url('../fonts/rsu_bold.svg#rsubold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'rsu';
	src: url('../fonts/rsu_regular.eot');
	src: url('../fonts/rsu_regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/rsu_regular.woff') format('woff'),
		 url('../fonts/rsu_regular.ttf') format('truetype'),
		 url('../fonts/rsu_regular.svg#rsuregular') format('svg');
	font-weight: normal;
	font-style: normal;

}